$logo: #5ffbf1;
$bgc1: #18191a;
$bgc2: #2e2e2e;
$bgc3: #121212bf;
$font1: #faf8ff;
$font2: #eeedf3;
$font3: #e0e0e0c7;



$break-mobile:450px;

$break-normal:680px;

$break-tablet: 880px;

$break-wide: 960px;